{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <h3>Inputs</h3>
      <br>
        <div class="form-group">
          <label for="column">Column:</label>
          <select class="form-control" id="column">
            <option value="field1">Field 1</option>
            <option value="field2">Field 2</option>
            <option value="field3">Field 3</option>
            <option value="field4">Field 4</option>
            <option value="field5">Field 5</option>
            <option value="field6">Field 6</option>
            <option value="field7">Field 7</option>
            <option value="field8">Field 8</option>
            <option value="field9">Field 9</option>
            <option value="field10">Field 10</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <label for="regex">Regex:</label>
          <input type="text" class="form-control" id="regex">
        </div>
        <br>
        <div class="form-group">
          <label for="size">Size:</label>
          <input type="text" class="form-control" id="size">
        </div>
        <br>
        <div class="form-group">
          <label for="size">Position:</label>
          <input type="text" class="form-control" id="position">
        </div>
        <br>
        <div class="d-flex justify-content-between form-group" id="submit_group">
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="col-md-1">
    </div>

  </div>
</div>
{% endblock content %}