.csv-table-container {
    margin: 20px;
  }
  
  .csv-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .csv-table th,
  .csv-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .csv-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .csv-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .csv-table tbody tr:hover {
    background-color: #ddd;
  }
  

  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loading-message {
    font-size: 10px; /* Adjust font size as needed */
    margin-top: 8px; /* Add spacing between spinner and message */
  }
  
  .super-app-theme--header {
    color: black;
    font-weight: unset;
    margin: #ccc;
    background: #1976D2;
    text-align: center;
    display: flex; /* Make it a flex container */
    justify-content: center; /* Align items horizontally to center */
    align-items: center; /* Align items vertically to center */
  }
  

  .css-t89xny-MuiDataGrid-columnHeaderTitle{
    font-weight: unset;
  }

  .super-app-theme--row {
    background-color: #f8f9fa; /* Set the background color for the rows */
    color: #212529; /* Set the text color for the rows */
    border-bottom: 1px solid #dee2e6; /* Add border bottom to separate rows */
  }
